/************ ALL / SMALL SCREEN ************/
.container {
  --container_min-width: 320px;
  --container_max-width: 1600px;
  /* width to 100% or max-width */
  width: 100%;
  width: min(100%, var(--container_max-width));
  min-width: var(--container_min-width);
  max-width: var(--container_max-width);
  /* calculate width w/ minimum, preferred, or max */
  width: clamp(var(--container_min-width), 100%, var(--container_max-width));

  --container_padding-h: 1.25rem;
  --container_padding-v: 1.25rem;
}
.search {
  --font-size: 1rem;
}
.card-container {
  --card-gap: 1rem;
  --card--content_margin-h: 0.125rem;
}

/************ TABLETTE ************/
@media (min-width: 720px) {
  .container {
    --container_padding-h: 4.5rem;
  }
  .card-container {
    --card-gap: 1.5rem;
    --card--content_margin-h: 0.25rem;
  }
}

/************ DESKTOP ************/
@media (min-width: 960px) {
  .container {
    --container_padding-h: 2rem;
  }
  .card-container {
    --card-gap: 2rem;
    --card--content_margin-h: 0.5rem;
  }
}

/* FontAwesome icons */
i.icon,
i.icon[class*="fa-"] {
  box-sizing: content-box;
  text-align: center;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  /* width = icon font-size */
  min-width: 1em;
}
i.icon-big,
i.icon-big[class*="fa-"] {
  font-size: 1.125rem;
}

/********** CONTAINER **********/
.container {
  /* horizontal center */
  margin-right: auto;
  margin-left: auto;

  /* space around */
  padding-right: var(--container_padding-h);
  padding-left: var(--container_padding-h);
  /* padding: var(--container_padding-v) var(--container_padding-h); */
}
.container.footer {
  padding-bottom: var(--container_padding-v);
}

/* remove text-decoration for all links */
.container a {
  text-decoration: none;
}

/********* HEADER **********/
/* display the size of the inner image */
.logo-link {
  display: inline-block;
  line-height: 0;
}
svg.logo-svg {
  width: 60px;
  height: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  /* vertically center all items */
  align-items: center;
}

/* center HEADER links */
.header a {
  text-align: center;
  text-decoration: none;
}

/* align navigation links vertically center */
.header .nav {
  display: flex;
  align-items: center;
}

/* space around navigation links */
.header .nav a {
  padding: 2rem;
}

/********** SEARCH **********/
.search_component {
  /* display: inline-flex; */
  align-items: center;
  margin: var(--font-size) 0;
}
.search_component ._legend {
  display: inline-block;
}

/********** SEARCH -- City **********/
.search--city._item {
  /* reduce horizontal size w/ inline, make the container flex */
  display: inline-flex;
  align-items: center;
}
/* put the icon on the start */
.search--city ._label {
  order: -1;
}
.search--city .search__item {
  font-size: var(--font-size);
  /* give some space around items */
  padding: var(--font-size);
  /* reset browser default border */
  border: 0 none;
}
/* remove icon on search button */
.search--city ._submit .icon {
  display: none;
}

/********** SEARCH -- Filter **********/
.search_component.--filter {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.375rem;
}
.search--filter {
  display: inline-block;
  /* all the same height */
  /* height: 100%; */
}
.search--filter._item {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}
.search--filter ._label {
  display: inline-flex;
  align-items: center;
  padding: var(--font-size);
  /* all available space */
  width: 100%;
  height: 100%;
}
.search--filter .icon {
  margin-right: var(--font-size);
}

/********** SEARCH -- Info **********/
.--info {
  display: inline-flex;
  align-items: center;
}
.--info .icon {
  padding: calc(var(--font-size) / 2);
  margin-right: var(--font-size);
}

/********** HOSTING **********/
.hosting {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/********** CARD **********/
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  align-items: center;
  gap: var(--card-gap);
}
@media (min-width: 960px) {
  .hosting {
    flex-direction: row;
    justify-content: space-between;
  }
  .hosting_component.--popular .card-container {
    grid-template-columns: 1fr;
  }
}
@media (width < 480px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.card,
.card-content {
  --card-image-height: 128px;
  --card-image-height: 8rem;
  display: block;
  width: 100%;
  height: 100%;
}
.card-image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: var(--card-image-height);
}
.card-desc {
  margin: auto 0.25rem;
  margin: auto var(--card--content_margin-h);
  /* height to fit available space (100% - image height) */
  height: calc(100% - 128px);
  display: grid;
}
.card-desc > * {
  margin: 0;
  padding: 0.25rem 0;
}
.card-rating {
  align-self: flex-end;
}
/****************************/
/********** MOBILE **********/
/****************************/
@media (width < 720px) {
  /********** CONTAINER **********/

  /********* HEADER **********/
  .container.header {
    /* reset horizontal padding */
    padding-top: var(--container_padding-v);
    padding-right: 0;
    padding-left: 0;
    /* items in columns */
    flex-direction: column;
  }
  /* header navigation links to half width */
  .header .nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /********** SEARCH **********/
  /* legend as block */
  .search_component ._legend {
    display: block;
  }

  /********** SEARCH -- City **********/
  /* resize input to 100% width; hack for ultra small screen */
  .search--city ._input {
    width: 100%;
  }
  /* restore icon & remove text on search button */
  .search--city ._submit .icon {
    display: inline-block;
  }
  .search--city ._submit .text {
    display: none;
  }

  /********** SEARCH -- Filters **********/
  .search_component.--filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .search--filter._legend {
    grid-column: span 2;
  }
  .search--filter._item {
    font-size: 0.75rem;
  }
  .search--filter .icon {
    margin-right: 0.5rem;
    margin-right: calc(var(--font-size) / 2);
  }

  /********** HOSTING **********/
  .hosting {
    gap: 0;
  }
  .hosting_component.--popular {
    order: -1;
  }
}
/*///////////////////////////*/
/*///////// MOBILE //////////*/
/*///////////////////////////*/
