/********** CONTAINER **********/
.container {
  /* horizontal center */
  margin-right: auto;
  margin-left: auto;
  /* width to 100% or max-width */
  width: 100%;
  width: min(100%, var(--container_max-width));
  min-width: var(--container_min-width);
  max-width: var(--container_max-width);
  /* calculate width w/ minimum, preferred, or max */
  width: clamp(var(--container_min-width), 100%, var(--container_max-width));

  /* space around */
  padding-right: var(--container_padding-h);
  padding-left: var(--container_padding-h);
  /* padding: var(--container_padding-v) var(--container_padding-h); */
}
.container.footer {
  padding-bottom: var(--container_padding-v);
}

.container.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header a {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
.header .nav a {
  padding: 2rem;
}

/****** MOBILE *****/
@media (width < 720px) {
/* reset horizontal padding on header for MOBILE */
.container.header {
    padding-top: var(--container_padding-v);
    padding-right: 0;
    padding-left: 0;
    flex-direction: column;
  }
  /* header nav link to half width */
  .header .nav a {
    width: 50%;
  }
}

/********** header navigation **********/
.header .nav {
  display: flex;
  align-items: center;
}

/********** CARD **********/
.card-container__ {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--card-gap);
}

.card__ {
  display: block;
  width: 10rem;
  width: var(--card_width);
}

/********** IMAGE **********/
.card-image__ {
  object-fit: cover;
  width: 100%;
  /* .card width / 2 */
  height: 5rem;
  height: calc(10rem / 2);
  height: calc(var(--card_width) / 2);
}

/********** CONTENT **********/
.card--content__,
.card-desc__ {
  margin: auto 0.25rem;
  margin: auto var(--card--content_margin-h);
}

/********** TITLE **********/
/* Hack for small screen, display title on nb line */
.card-title__ {
  --line-height: 1.375rem;
  --line-nb: 2;
  min-height: calc(var(--line-nb) * var(--line-height));
}
@media (min-width: 720px) {
  /* reset hack for small screen */
  .card-title__ {
    height: auto;
  }
}
