@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
*:not(.fa-classic, .fa-regular, .fa-solid, .far, .fas),
*:not(.fa-classic, .fa-regular, .fa-solid, .far, .fas)::before,
*:not(.fa-classic, .fa-regular, .fa-solid, .far, .fas)::after {
  font-family: "Raleway", sans-serif;
}

a:hover {
  text-decoration: none;
}

:root {
  --color-black: black;
  --color-white: white;
  --color-primary: #0065fc;
  --color-primary--light: #deebff;
  --color-secondary: #d9d9d9;
  --color-secondary--light: #f2f2f2;
}

/* all icon to primary color by default */
.icon {
  color: var(--color-primary);
}
.icon--round {
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
}

/********** HEADER **********/
/* header link */
.header a.link-image {
  color: var(--color-primary);
}
.header_nav a {
  --header_nav--border: 3px;
  font-weight: 500;
  border: 0 solid var(--color-secondary--light);
  border-top-width: var(--header_nav--border);
  transition-duration: 0.3s;
}
.header_nav a.current,
.header_nav a:hover {
  text-decoration: none;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

/********** SEARCH **********/
/********** SEARCH - LOCATION **********/
.search-location .search__item {
  font-weight: bold;
  border: 2px solid var(--color-secondary);
}
.search-location .icon {
  color: inherit;
}
.search__item.search-location_label {
  background-color: var(--color-secondary--light);
  color: var(--color-black);
  /* border radius on the left */
  border-right: 0 none;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}
.search__item.search-location_input {
  /* remove horizontal side border */
  border-left: 0 none;
  border-right: 0 none;
}
.search__item.search-location_submit {
  background-color: var(--color-primary);
  color: var(--color-white);
  /* border radius on the right */
  border-left: 0 none;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

/********** SEARCH - FILTER **********/
/* remove input control */
.search-filter input {
  display: none;
}
/* all available space for the label */
.search-filter label {
  height: 100%;
}
/* search filter item when checked */
.search-filter input:checked + label {
  border-color: var(--color-primary);
  background-color: var(--color-primary--light);
}
.search-filter label {
  /* max font-size + 2 * padding */
  --box-height: calc(var(--rem-big--x1) + (2 * 1em));
  --box-height--half: calc(var(--box-height) / 2);
  border: 2px solid var(--color-secondary);
  border-radius: var(--box-height--half) / 50%;
}
/* search filter item on hover */
.search-filter.item:hover input:not(:checked) + label {
  background-color: var(--color-primary--light);
}

/********** CARD **********/
.hosting_component {
  background-color: var(--color-secondary--light);
}
.card {
  --card_border-width: 0.25rem;
  --card_border-radius: 1rem;
  --card-image_border-radius: calc(
    var(--card_border-radius) - var(--card_border-width)
  );

  background-color: white;
  box-shadow: 0 0.125rem 0.25rem 0.125rem hsl(0, 0%, 20%, 0.2);
  border: var(--card_border-width) solid white;
  border-radius: var(--card_border-radius);
}
.card_image {
  border-radius: var(--card-image_border-radius) var(--card-image_border-radius)
    0 0;
}
.hosting-popular .card_image {
  border-radius: var(--card-image_border-radius) 0 0 var(--card-image_border-radius);
}

/****************************/
/********** MOBILE **********/
/****************************/
@media (max-width: 640px) {
  /********** CONTAINER **********/
  /********** HEADER *************/
  /* set border to bottom for navigation links */
  .header_nav a {
    border-top-width: 0;
    border-bottom-width: var(--header_nav--border);
  }
  /********** SEARCH *************/
  /********** SEARCH -- City **********/
  /********** SEARCH -- Filters **********/
  /********** HOSTING **********/
}
/*///////// MOBILE //////////*/

/*****************************/
/********** DESKTOP **********/
/*****************************/
@media (min-width: 1024px) {
  .hosting_component {
    --card_border-width: 0.5rem;
    --card_border-radius: 1.25rem;
  }
}
/*///////// DESKTOP /////////*/
