:root {
  --color-primary: #0065fc;
  --color-primary-light: #deebff;
  --color-secondary: #d9d9d9;
  --color-secondary-light: #f2f2f2;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", sans-serif;
}


/* header nav link */
.header a {
  color: var(--color-primary);
}
.header .nav a {
  color: unset;
  font-weight: 500;
  transition-duration: 0.3s;
  border: 0 solid var(--color-secondary-light);
  border-top-width: 3px;
}
.header .nav a.active,
.header .nav a:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

/****** MOBILE *****/
@media (width < 720px) {
  /* set border to bottom for navigation links */
  .header .nav a {
    border-top-width: 0;
    border-bottom-width: 3px;
  }
}

.container__ {
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  background-color: hsl(0, 0%, 90%);
}

.card__ {
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem 0.125rem hsl(0, 0%, 20%, 0.2);
  border: var(--card_border-width) solid white;
}
.card__ {
  border-radius: var(--card_border-radius);
}
.card-image__ {
  /* border-top-left-radius: var(--card-image_border-radius);
  border-top-right-radius: var(--card-image_border-radius); */
  border-radius: var(--card-image_border-radius) var(--card-image_border-radius)
    0 0;
}

.material-symbols-rounded:not(.checked) {
  color: #d3d3d3;
  color: hsl(0, 0%, 80%);
}
.material-symbols-rounded.checked {
  color: #0065fc;
  color: hsl(216, 100%, 50%);
}
