:root {
  --font-size: 1rem;
  --color-lightgrey: hsl(0, 0%, 95%);
  --color-blue: hsl(216, 100%, 49%);
}

.search-geo {
  display: flex;
  /* UI */
  font-size: var(--font-size);
  /* no space around text */
  line-height: var(--font-size);

  /* reduce horizontal size w/ inline, make the container flex */
  /* display: inline-flex; */
  /* border: solid 1px var(--color-lightgrey); */
  /* border-radius: var(--font-size); */
}

.search-geo--items {
  font-size: var(--font-size);
  /* no space around text */
  line-height: var(--font-size);
  /* UI */
  padding: var(--font-size); /* give some space around items */
}

.search-geo--icon {
  background-color: var(--color-lightgrey);
  /* border radius on the left */
  border-top-left-radius: var(--font-size);
  border-bottom-left-radius: var(--font-size);
}
.search-geo--city {
  /* reset browser default border */
  border: 0 none;
  /* add border */
  border: solid 1px var(--color-lightgrey);
}
.search-geo--submit {
  /* reset browser default border */
  border: 0 none;
  background-color: var(--color-blue);
  color: white;
  /* border radius on the right */
  border-top-right-radius: var(--font-size);
  border-bottom-right-radius: var(--font-size);
}
