:root {
  --font-size: 1rem;
  --color-lightgrey: hsl(0, 0%, 95%);
  --color-blue: hsl(216, 100%, 49%);
}
.search-info {
  display: flex;
}

.search-info--icon {
  color: var(--color-blue);
  text-align: center;
  padding: calc(var(--font-size) / 2);
  margin-right: var(--font-size);
  border: solid 2px var(--color-lightgrey);
  border-radius: 40%;
  /* font-size + (padding left + padding right) + (border left width + border right width) */
  width: calc(
    var(--font-size) + calc((var(--font-size) / 2) * 2) + calc(2px * 2)
  );
}
.search-info--detail {
  /* I don't know how to center the text */
  display: contents;
}
